.App {
  text-align: center;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 750;
  font-size: 100px;
  letter-spacing: 20px;
  line-height: 50px;
  -webkit-text-stroke: 1px #707070;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
