.app {
  text-align: center;
  background-image: url(/public/bgd.png);
  width: auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 750;
  font-size: 100px;
  letter-spacing: 20px;
  line-height: 50px;
  -webkit-text-stroke: 1px #707070;
}

.dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: block;
}
